assignBarcodes
filterfastq
demux_fastq
demux_test_out*
test_files*
tables
test_output/
test*
atac*
ATAC
*test
*.txt
outputs
log*
*.fastq
*.gz
features/
msk*
sc_test*
.specstory
.cursor*
*.o
feature_lists
